TD {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 11px
	
}
.text {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana Helvetica, sans-serif; FONT-SIZE: 12px
	
}
BODY {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;
        background-image: url("http://4.bp.blogspot.com/-VvgTQkCEzKw/T8fVS8iZyhI/AAAAAAAAB9g/4sLnQWWMpMI/s000/bg.jpg");
}
A {
	COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #001109; TEXT-DECORATION: none
}
A.design {
	COLOR: #EFEFEF; TEXT-DECORATION: none
}
A:hover.design {
	COLOR: #D8D8D8; TEXT-DECORATION: none
}
H1 {
COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 14px
	
}
H2 {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
P {
	LINE-HEIGHT: 14px; MARGIN: 2px 7px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.tytul {
	COLOR: white; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 11px
}
.smallHD {
	COLOR: #666699; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; MARGIN-BOTTOM: 3px; MARGIN-TOP: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px; TEXT-TRANSFORM: uppercase
}
.smallHDD {
	COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; MARGIN-BOTTOM: 3px; MARGIN-TOP: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px; TEXT-TRANSFORM: uppercase
}
.tab {
	COLOR: #666699; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; MARGIN-BOTTOM: 3px; MARGIN-TOP: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px; TEXT-ALIGN: center; TEXT-TRANSFORM: uppercase
}
.website_text_area{
width:98%;
}
#adzerk_by {display:none}
.carbonad {display:block; background: #fdfdfd; background-image: -moz-linear-gradient(top, #f8f8f8, #fdfdfd); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #fdfdfd)); border: 1px solid #d5d5d5; font-family: Lucida Grande, Arial, Helvetica, sans-serif; font-size: 11px; height: 118px; line-height: 15px; overflow: hidden; width: 300px;}
.carbonad-img {border: none; display: inline; float: left; height: 100px; margin: 9px; width: 130px;}
.carbonad-text {display:inline; float:left; width:142px; padding-top:13px;}
.carbonad-text a {color: #000000; font-weight: bold; text-decoration: none;}
.carbonad-tag {float: left; margin-top: 9px; text-align: center; width: 142px; color: #999999;}
.carbonad-tag a {color: #999999; text-decoration: none;}
.span12 {
    width: 100%;
}
.row {
    margin-left: 0px;
}
.span8 {
    width: 550px;
}
[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 0px;
}
.website_form_tytul,#pozycja_label,#kod_strony_label{
font-weight:bold;
}
.form_pozycja{
display:block;
float:right;
margin-top:-66px;
margin-right:3px;
}
#website_pozycja{
width:70px;
}
#website_tytul,#image_nazwa{
height:30px;
}
.images_form_opis{
width:98%;
height:50px;
}
.carousel-caption {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 15px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.75);
}
.img-polaroid{
margin-bottom:3px;
}
.img-polaroid:hover{
border-color: rgb(0, 136, 204);
}
